.about{
    padding: 5% 0;
    height: auto;
    display: flex;
    justify-content: center;
}

.about_container{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.about_title{
    color: #000;
    font-weight: 500;
}

.about_p{
    color: #000;
}
.about_title{
    text-align: center;
}

.about_p{
    margin-top: 5%;
}

@media screen and (min-width: 576px){
    .about {
        padding: 5% 0 10% 0;
    }

    .about_container{
        width: 80%;
        max-width: 992px;
    }

    .about_title{
        font-size: 40px;
        font-weight: 500;
    }

    .about_p{
        font-weight: 400;
        line-height: 25px;
    }
}